Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -cert-env33-c,
  -cert-msc30-c,
  -cert-msc50-cpp,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -misc-include-cleaner,
  -readability-inconsistent-declaration-parameter-name,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers
FormatStyle: file
